@{
    Layout = null;  
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap" rel="stylesheet">

    <title>Infinia</title>
</head>
<body>
    <header id="main-page">
        <div class="content">

            <nav class="content__navigation">
                <div class="content__navigation-item">
                    @* <a href="#!" class="content__navigation-item-ft">
                        <i class="ri-corner-right-up-line"></i>
                        <span class="content__navigation-item-ft-title">Предложения</span>
                    </a> 

                    <a href="#!" class="content__navigation-item-ft">
                        <i class="ri-corner-right-up-line"></i>
                        <span class="content__navigation-item-ft-title">FAQ</span>
                    </a>*@
                </div>

                <div class="content__navigation-item">
                    <img src="~/images/bank.png" alt="Bank Logo">
                    <a asp-action="Register" asp-controller="Profile" class="content__navigation-item-ft-name">Infinia</a>
                </div>

                <div class="content__navigation-item">
                    <a asp-action="Login" asp-controller="Profile" class="content__navigation-item-ft button">
                        <span>Вход</span>
                    </a>

                    <a asp-action="Register" asp-controller="Profile" class="content__navigation-item-ft button">
                        <span>Регистрация</span>
                    </a>
                </div>
            </nav>

            <section class="content__main home">
                <video class="content__main-video active" src="~/videos/video-2.mp4" autoplay muted loop></video>
                <video class="content__main-video" src="~/videos/video-3.mp4" autoplay muted loop></video>
                <video class="content__main-video" src="~/videos/video-4.mp4" autoplay muted loop></video>

                <div class="content__main-info active">
                    <h1 class="content__main-info-heading">Infinia<br><span class="content__main-info-heading-span">Bank System</span></h1>
                    <p class="content__main-info-text">Добре дошли в нашата банкова система! Управлявайте финансите си лесно и сигурно.</p>
                    <a asp-action="Register" asp-controller="Profile" class="content__main-info-button">Отворете вашата сметка сега</a>
                </div>

                <div class="content__main-info contentt">
                    <h1 class="content__main-info-heading">Infinia<br><span class="content__main-info-heading-span">Bank System</span></h1>
                    <p class="content__main-info-text">С нас всяка финансова стъпка е по-лесна – нека Ви покажем как!</p>
                    <a asp-action="Register" asp-controller="Profile" class="content__main-info-button">Отворете вашата сметка сега</a>
                </div>

                <div class="content__main-info contentt">
                    <h1 class="content__main-info-heading">Infinia<br><span class="content__main-info-heading-span">Bank System</span></h1>
                    <p class="content__main-info-text">Време е да превърнете мечтите си в реалност – ние сме тук, за да Ви помогнем по пътя!</p>
                    <a asp-action="Register" asp-controller="Profile" class="content__main-info-button">Отворете вашата сметка сега</a>
                </div>

                <div class="content__main-icons">
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>

                <div class="content__main-slider">
                    <div class="content__main-slider-btn"></div>
                    <div class="content__main-slider-btn"></div>
                    <div class="content__main-slider-btn"></div>
                </div>
            </section>
        </div>
    </header>

    <script src="~/js/main.js"></script>
</body>
</html>

