@model Infinia.Core.ViewModels.ProfileDetailsViewModel

@{
    ViewData["Title"] = "Profile Details";
}

<h2>@ViewData["Title"]</h2>

<div class="card">
    <div class="card-header">
        Profile Details
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">@Model.Email</dd>

            <dt class="col-sm-3">Username</dt>
            <dd class="col-sm-9">@Model.Username</dd>

            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">@Model.Name</dd>
        </dl>
    </div>
</div>
