@{
    ViewData["Title"] = "Registration Confirmation";
}
<h1>Registration Successful!</h1>
<p>A confirmation email has been sent to your registered email</p>
<p>Please check your inbox and click the confirmation link to activate your account.</p>
<p>If you don't see the email after a few minutes, please check your spam folder.</p>