<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <title>Error 404</title>
</head>
<body>
    <div class="error">
        <h2 class="error__title">Уупс! Страницата не е намерена.</h2>
        <h1 class="error__type">404</h1>
        <p class="error__description">Не успяхме да открием страницата, която търсите.</p>
        <a asp-action="Index" asp-controller="Home" class="error__button">Към "Infinia"</a>
    </div>
</body>
</html>