@model Infinia.Core.ViewModels.BankAdministrator.BranchAnalysisSelectedBranchAndIntervalViewModel

@{
    ViewData["Title"] = "Branch Analysis";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap" rel="stylesheet">
    <title>Анализи и отчети</title>
</head>
<body>

    <div class="box">
        <div class="box__goBack">
            <img src="~/images/logo.png" class="box__goBack-logo">
            <a href="#!" class="box__goBack-heading">Infinia</a>
        </div>

        <div class="box__heading">
            <img src="~/images/analyzing.png">
            <h2 class="box__heading-title">Анализи & Отчети</h2>
        </div>

        <form asp-action="BranchAnalysis" asp-controller="BankAdministrator" method="post" id="branchAnalysisForm" class="box__form">
            <div class="box__form-container">
                <label asp-for="BranchName" class="box__form-container-label">Име на клон:</label>
                <input asp-for="BranchName" type="text" id="branchName" name="BranchName" class="box__form-container-input" required />
            </div>
            <div class="box__form-container">
                <label asp-for="StartInterval" class="box__form-container-label">Начална дата:</label>
                <input asp-for="StartInterval" type="date" id="startDate" name="StartInterval" class="box__form-container-input" required />
            </div>
            <div class="box__form-container">
                <label asp-for="EndInterval" class="box__form-container-label">Крайна дата:</label>
                <input asp-for="EndInterval" type="date" id="endDate" name="EndInterval" class="box__form-container-input" required />
            </div>
            <button type="submit" class="box__form-btn">Анализирай</button>
        </form>
    </div>

    @*<script>
    function submitForm() {
    const form = document.getElementById('branchAnalysisForm');
    form.target = '_blank';
    form.submit();
    }
    </script>*@

</body>
</html>