@{
    ViewData["Title"] = "Chatbot";
}

<h2>Chatbot</h2>
<div id="chatContainer">
    <textarea id="userMessage" placeholder="Type your message here..."></textarea>
    <button id="sendMessage">Send</button>
</div>
<div id="responseContainer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $('#sendMessage').click(function () {
        const message = $('#userMessage').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Chat", "Chatbot")',
            data: JSON.stringify(message),
            contentType: 'application/json',
            success: function (response) {
                $('#responseContainer').append('<p>' + response + '</p>');
            },
            error: function (error) {
                $('#responseContainer').append('<p>Error: ' + error.responseText + '</p>');
            }
        });
    });
</script>